.text-normal
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;

    color: #111111;
}

.text-bold
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;
}

.main-info
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #2A5EE8;
}


.card-event
{
    margin-top: 50px;
}

.text-under-image
{
    margin-top: 15px;
}

.event-name
{
    margin-bottom: 105px;
}

.btn-other
{
    width: 445px;
    height: 60px;

    margin-top: 80px;
    margin-bottom: 116px;
    background: #2A5EE8;
    border-radius: 25px;
    border: 0;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.section-2-event
{
    margin-top: 80px;
    background: #F8F8F8;
    top: 0;
    left: 0;
    background-position-x: center;   
}

.event-other-text-mini
{
    color: #2A5EE8;
}

.section-2-event .main-about-event
{
    margin-top: 53.5px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.15em;

    color: #111111;
}

.section-2-event .about-event
{
    margin-top: 30px;
    padding-bottom: 53;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15em;

    color: #333333;
}

.modal-content
{
    background: #2A5EE8;
}

.modal-title
{
    margin-top: 23px;
    margin-bottom: 23px;


    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.modal .btn-close 
{
    color: #FFFFFF;
    width: 25px;
    height: 25px;
}

.FIO
{
    margin-bottom: 10px;
}

.Email
{
    margin-top: 24px;
    margin-bottom: 10px;
}

.Check
{
    margin-top: 55px;

    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;

    color: #FFFFFF;
}

.form-text
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    display: flex;
    align-items: center;
    letter-spacing: 0.15em;

    color: #FFFFFF;
}

.form-group-radius
{
    border-radius: 25px;
}

.form-text-mini
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #DA1414;
}

.form-check-input[type=checkbox] 
{
    border-radius: 25px;

}

.btn-primary
{
    width: 445px;
    height: 60px;

    margin-top: 55px;
    margin-bottom: 19px;
    background: #FFFFFF;
    border-radius: 25px;
    border: 0;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    
    color: #2A5EE8;
}

.page-footer
{
    background: #2A5EE8;
}

.page-footer .text-main-box
{
    margin-top: 53px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.page-footer .list-unstyled
{
    margin-top: 30px;
    margin-bottom: 55px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;
}

.page-footer a
{
    color: #FFFFFF;
    margin-bottom: 15px;
    display: block;
}


