.main-info
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #2A5EE8;
}

.section-1 .welcome-information
{
    margin-top: 50px;
}

.section-1 .welcome-information .col h6
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #7B7A83;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.section-1 .welcome-information .col h1
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}

 .btn-other
{
    width: 445px;
    height: 60px;

    margin-top: 60px;
    background: #2A5EE8;
    border-radius: 25px;
    border: 0;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}



.section-2 
{
    margin-top: 120px;
    background: #2A5EE8;
    top: 0;
    left: 0;
    margin-bottom: 117px;
    background-position-x: center;   
}

.section-2 .about-information > div
{
    margin-top: 87px;
    text-align: center; 
}

.section-2 .about-information > div:last-child
{
    margin-bottom: 87px;
}


.section-2 .images
{
    margin-bottom: 15px;
}

.section-2 .about-information h3 
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.section-2 .text
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
   

    color: #FFFFFF;
}

.section-3
{
    margin-top: 70px;
}

.section-3 h1
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;
}

.section-3 .nav-item
{
    margin-top: 80px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.15em;

    color: #333333;
}

.section-3 .nav-item:hover
{
    color: #2A5EE8;
}

.section-3 .billet h2
{

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;
    /* Typography / Title */

    color: #111111;
}

.section-3 .row
{
    margin-top: 100px;
}

.section-3 .event-card-box 
{
    height: 240px;
}

.section-3 .event-card
{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.section-3 .event-card-completed 
{
    background: #F8F8F8;
    filter: grayscale(1) ;
}


.section-3 .event-card-mini
{
    margin-bottom: 22px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #333333;
}

.section-3 .event-card-text
{
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;
}

.section-3 .event-card-data-box
{
    height: 44px;
}

.section-3 .event-card-data
{
    margin-top: 59px;
    text-align: center;
    padding: 14px 0;


    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;

    border-top: 1px solid rgba(123, 122, 131, 0.05);
    box-sizing: border-box;
}


.section-3 .navbar  
{
    border-bottom: 4px solid silver; padding: 0;
}

.section-3 .nav-item 
{
    margin: 80px 47px -4px 47px;
}

.section-3 .nav-item:nth-child(1) 
{
    margin-left: 0;
}

.section-3 .nav-item.active 
{
    border-bottom: 4px solid blue;
}


.event-card-image
{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.page-footer
{
    margin-top: 120px;
    background: #2A5EE8;
}

.page-footer .text-main-box
{
    margin-top: 53px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.page-footer .list-unstyled
{
    margin-top: 30px;
    margin-bottom: 55px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;
}

.page-footer a
{
    color: #FFFFFF;
    margin-bottom: 15px;
    display: block;
}




.billet input {
    border-radius: 25px;
    padding: 11px 16px 11px 16px;
}

