.section-1 .main-info
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #2A5EE8;
}

.section-1 .welcome-information
{
    margin-top: 50px;
}

.section-1 .welcome-information .col h6
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #7B7A83;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.section-1 .welcome-information .col h1
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;


    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}

 .btn-other
{
    width: 445px;
    height: 60px;

    margin-top: 60px;
    background: #2A5EE8;
    border-radius: 25px;
    border: 0;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.section-2 
{
    margin-top: 120px;
    background: #2A5EE8;
    top: 0;
    left: 0;
    margin-bottom: 117px;
    background-position-x: center;
    
    
}

.section-2 .col
{
    margin-top: 87px;
    text-align: center; 
    padding-bottom: 87px;
}

.section-2 .images
{
    margin-bottom: 15px;
}

.section-2 .about-information h3 
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.section-2 .text
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
   

    color: #FFFFFF;
}

.section-3
{
    margin-top: 70px;
}

.section-3 h1
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;
}

.section-3 .nav-item
{
    margin-top: 80px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.15em;

    color: #333333;
}

.section-3 .nav-item:hover
{
    color: #2A5EE8;
}

.section-3 .billet .col
{
    margin-top: 65px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    /* Typography / Title */

    color: #111111;
}

.section-3 .row
{
    margin-top: 100px;
}

.section-3 .box
{
    background: #F8F8F8;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.section-3 .event-card-mini
{
    margin-bottom: 22px;
    margin-top: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #333333;
}

.section-3 .event-card-text
{
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;
}

.section-3 .event-card-data
{
    margin-top: 59px;
    text-align: center;
    margin-bottom: 14px;


    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;

    border-top: 1px solid rgba(123, 122, 131, 0.05);
    box-sizing: border-box;
}

.page-footer
{
    margin-top: 120px;
    background: #2A5EE8;
}

.page-footer .text-main-box
{
    margin-top: 53px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.page-footer .list-unstyled
{
    margin-top: 30px;
    margin-bottom: 55px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;
}





